html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    border: 3px solid #000000;
    margin: 11px;
    font-family: "lato",sans-serif;
    background-color: #ffffffa8;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 10px;
}

.button {
    cursor: pointer;
}